{% extends 'shorturl/base.html' %}

{% block title %} Sauvegardés {% endblock %}

{% block content%}
<section class="hero is-light is-fullheight">
<div class="container is-fluid">
  <table class="table is-fullwidth" style="background-color:hsl(0, 0%, 96%)">
    <thead>
        <tr>
            <th class='has-text-centered'> URL sauvegardé</th>
            <th class='has-text-centered'> Lien raccourci</th>
            <th> </th>
        </tr>
    </thead>
    <tbody class='has-text-centered'>
      {% for lien in url_created %}
        <tr>
            <td>
              <textarea class="textarea has-fixed-size">{{ lien.url_long }}</textarea>
            </td>
            <td>
              <p>{{request.get_host}}/{{lien.url_custom}} {{lien.id }}</p>
            </td>
            <td>
            {% comment %} <!-- Modal HTML content(hidden bydefault) starts here -->
            <div class="container">
              <div class="modal" id="modal{{post.id}}">
                <div class="modal-background"></div>
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">
                      Supprimer
                    </p>
                    <button class="delete" aria-label="close"></button>
                  </header>
                  <section class="modal-card-body">
                    <p> {{lien.id }} </p>
                    <form class="mt-5" action="{% url 'shorturl:delete_url' lien.id %}" method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button class="button is-rounded mt-2" name='submit'>Supprimer un lien</button>
                    </form>
                  </section>
                </div>
              </div>
    
            <!-- Modal button for trigger -->
              <button onclick="openModal();"
                  class="button is-success">
                  Open Modal
              </button>
            </div> {% endcomment %}
            <button class="button is-rounded mt-2" name='submit'>Edit</button>
            <form class="mt-5" action="{% url 'shorturl:delete_url' lien.id %}" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="button is-rounded mt-2" name='submit'>Supprimer</button>
            </form>
          </td>
            
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</section>


   
      <!-- JavaScript code implementation
           for triggering the button -->
      <script>
          // Function to open the modal
          function openModal() {
              // Add is-active class on the modal
              document.getElementById("modal{{post.id}}")
                  .classList.add("is-active");
          }
   
          // Function to close the modal
          function closeModal() {
              document.getElementById("modal{{post.id}}")
                  .classList.remove("is-active");
          }
           
          // Add event listeners to close the modal
          // whenever user click outside modal
          document.querySelectorAll(
  ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
          ).forEach(($el) => {
              const $modal = $el.closest(".modal");
              $el.addEventListener("click", () => {
   
                  // Remove the is-active class from the modal
                  $modal.classList.remove("is-active");
              });
          });
   
          // Adding keyboard event listeners to close the modal
          document.addEventListener("keydown", (event) => {
              const e = event || window.event;
              if (e.keyCode === 27) {
   
                  // Using escape key
                  closeModal();
              }
          });
      </script>

{%endblock content%}
