{% extends 'shorturl/base.html' %}

{% block title %} Générer {% endblock %}

{% block content%}

  <section class="hero is-medium is-link mt-5">
    <div class="hero-body has-text-centered">
      <p class="title">
        Génére ton lien
      </p>
      <p class="subtitle">
        Réduit tes liens pour les partager plus facilement !
      </p>
      <div class="container">
        <div class="columns">
          <div class="column"></div>
          <div class="column is-two-thirds">
            <form class="mt-5" action="{% url 'shorturl:generate_url' %}" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="button is-rounded mt-2" name='submit'>Générer un lien</button>
            </form>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </div>
  </section>

{% endblock%}



{% comment %} <p> Générer un nom aléatoire : </p>

<form action="{% url 'shorturl:generate_url' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name='submit'>Générer un lien</button>
</form> {% endcomment %}
