{% comment %} 
2 buttons un pour générer aléatoirement un nom 
et un autre button pour choisir le nom du lien
{% endcomment %}

<p> Home </p>

{% comment %} <form action="{% url 'shorturl:url_shortener' %}">
    <input type="submit" value="Générer un lien aléatoire" />
</form> {% endcomment %}

<div>
<a href="{% url 'shorturl:generate_url' %}">
    <button>Générer un lien aléatoire</button>
</a>
</div>

<div>
<a href="{% url 'shorturl:choose_url' %}">
    <button>Créer mon lien</button>
</a>
</div>