{% extends 'shorturl/base.html' %}

{% block title %} Acceuil {% endblock %}

{% block content%}

    <section class="section has-text-centered">
        <h1 class="title">Bienvenue sur NOM</h1>
        <h2 class="subtitle">
        Une application simple pour <strong>réduire</strong> vos urls, pas besoin de créer un compte.
        </h2>
    </section>

    

    <div class="columns is-gapless mt-5">
        <div class="column is-half">
            <section class="hero is-halfheight is-link">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="columns">
                            <div class="column">
                                <p class='title has-text-white'>
                                    Raccourci tes liens avec un nom aléatoire.
                                </p>
                              <div class="columns is-mobile">
                                <div class="column">
                                    <a href="{% url 'shorturl:generate_url' %}">
                                        <button class='button is-rounded is-white is-outlined mt-2'>Je génére !</button>
                                    </a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              </section>
        </div>
        <div class="column is-half">
            <section class="hero is-halfheight is-success">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="columns">
                            <div class="column">
                                <p class='title has-text-black'>
                                    Raccourci tes liens avec un nom que <strong>TU</strong> choisis.
                                </p>
                              <div class="columns is-mobile">
                                <div class="column">
                                    <a href="{% url 'shorturl:choose_url' %}">
                                        <button class='button is-rounded is-black is-outlined mt-2'>Je choisis !</button>
                                    </a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              </section>

        </div>
      </div>

{% endblock%}
